
@font-face{
    font-family: uvavoz;
    src: url(../fontes/UVAvoz.otf);
}

body{
    margin: 0;
}

header{
    float: left;
    width: 100%;
    background-image: url(../imgs/enadebg.png);
    background-size: cover;

}

.modal{
    width: 1330px !important;
    img{
        width: 70%;
        margin: 20px;
    }
}

.blocker{
    padding: 10px !important;
}

header .titulo{
    margin-top:5%;
    margin-bottom: 10%;
}

a:hover{
    opacity: 0.5;
}

.nav{
    width: 100%;
    background: rgba(67, 67, 67, 0.31);
    float: left;
    display: table;
    border-bottom: 5px solid #afd238;
    border-top: 5px solid #afd238;
}

.campus-nav{
    margin-bottom: 20px;
    margin-top: 20px;
    background: black !important;
}

.menu li{
    list-style: none;
    display: inline-block;
    font-weight: 100;
    margin-left: 1%;
    margin-right: 1%;
}

.form-control{
    background: none !important;
    color: white !important;
    border: none !important;
    font-family: "Calibri";
}

.form-control option{
    background: #555;
}

li a img:hover{
    opacity: 0.5;
}

.section{
    min-height: auto;
    float: left;
    width: 100%;
    background: #F4F4F4;
    padding: 25px 0;
}

.footer{
    width: 100%;
    background: #014B78;
    float: left;
}

.fbranco{
    background: white !important;
}

.fbranco th{
    color: #014B78 !important;
}

.fbranco a{
    color: #014B78 !important;
}

.fbranco td{
    color: #014B78 !important;
}

.campus-footer{
    margin-bottom:40px;
}


.borderfooter{
    width: 100%;
    height: 6px;
}

.floatright{
    float: right;
    margin-right: 22px;
}

.thead-footer > tr > th{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.table > tbody > tr > td{
    line-height: 2.42857143;
    font-size: 14px;
    font-family: "Calibri";

}

.tbody-footer td{
    line-height: 1.42857143 !important;
}

.thead-footer th{
    border-bottom: solid 1px #014B78 !important;
}

.table-responsive tbody, .table-responsive  a{
    color: white;
}

.table-responsive a:hover{
    color: yellow;
    opacity: 0.5;
}


.line-redes{
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-redes a{
    margin-right: 5px;
}

.conheca b{
    color: #b4d200;
}

.conheca p{
    color: #004b78 !important;    
}

.tableimportante{
    color: #004b78 !important;
    width: 70% !important;
}

.btn-primary {
    background-color: #004b78 !important;
    padding: 5px 20px !important;
    margin-right: 10px !important;
}

.tableimportante th{
    text-transform: uppercase;
}

.table-bordered > thead > tr > th{
    border: 1px solid #004b78 !important;
}

.table-bordered > tbody > tr > td{
    border: 1px solid #004b78 !important;
}

.table


.conhecimento{
    min-height: auto;
    float: left;
    width: 100%;
    background: #afd238;
    padding: 25px 0;
}

.conhecimento h2{
    color: #004b78 !important;
}

.conhecimento p{
    color: #004b78 !important;
}

.dicas h2{
    color: #b4d200 !important;
}

.dicas p{
    color: #b4d200 !important;    
}

.academicas h2{
    color: #004b78 !important;
}

.academicas p{
    color: #004b78 !important;    
}

.academicas{
    min-height: auto;
    float: left;
    width: 100%;
    background: #afd238;
    padding: 25px 0;
}

.provas h2{
    color: #004b78 !important;
}

.provas p{
    color: #004b78 !important;    
}

.noseu{
    min-height: auto;
    float: left;
    width: 100%;
    background: #014B78;
    padding: 25px 0;
    border-bottom: 1px solid white;
}

.noseu h2{
    color: white !important;
}

.noseu p{
    color: white !important;    
}

.alunoenade{
    min-height: auto;
    float: left;
    width: 100%;
    background: #014B78;
    padding: 25px 0;
    border-bottom: 1px solid white;
}

.alunoenade h2{
    color: #b4d200 !important;
}

.alunoenade p{
    color: #b4d200 !important;    
}

.alunoenade a{
    color: #b4d200 !important;    
}

.section h2{
    text-transform: uppercase;
    color:#004B77;
    margin-bottom: 30px;
    font-family: "Calibri";
    font-weight: bold;
    font-size: 25px;
}

.section p{
    color:#7D7D7D;
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 25px;
}

.cursos_enade a{
    margin-right: 25px;
    display: table;
}

.box-menu-nav a{
    background: none !important;
    color: white !important;
}

.box-menu-nav{
    margin: 20px 0;
}

button a{
    color: white;
}

.conhecimento-table{
    background: white;
    padding: 10px;
    border-radius: 5px;
}

button a:hover{
    color: #8BD5BE;
    text-decoration: none;
}

ul.menu{
    padding-left: 0 !important;
    margin-top: 10px !important;
}

#curso1, #curso2, #curso3, #curso4, #curso5, #curso6, #curso7, #curso8{
    .container {
        width: 1065px;
    }
    .titulo{
        background-image: url("../imgs/cursos/header.png");    
        height: 120px;
        background-repeat: no-repeat;
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -35px;

        h2{
            color: #004978;
            font-size: 39px;
            padding-left: 26%;
            padding-top: 40px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: "uvavoz";
        }
    }
    h3{
        color: #004978;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    img{
        margin-top: 20px;
    }
    .txt{
        b{text-transform: uppercase;}
        span{font-size: 11px;}
        ul {
            list-style-image: url('http://i.stack.imgur.com/5kI3v.png');
        }
    }
}

@media screen and (max-width: 1090px){

    .menu li{
        width: 11%;
    }

}

@media screen and (max-width: 767px){
    .table-responsive{
        border:none !important;
    }
}

@media screen and (max-width: 295px){
    .menu li{
        width: 10%;
    }
}
